{{ $directory := "content/" }}
{{ $filename := "calendar.md" }}
{{ if (where (readDir $directory) "Name" $filename) }}
  <section class="calendar" id="calendar">
    <div class="container middle-xs">
      <div class="row center-xs">
        <div class="col-xs-12">
          <h1>{{ with $.Site.GetPage "page" "calendar" }}{{ .Title }}{{ end }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 middle-xs">
          {{ with $.Site.GetPage "page" "calendar" }}
            {{ .Content }}
	    <iframe src="https://teamup.com/kscaipphkjod7dov7j?view=l&showLogo=0&showSearch=0&showProfileAndInfo=0&showSidepanel=1&showTitle=0&showMenu=0&showAgendaHeader=1&showAgendaDetails=0&showYearViewHeader=1" style="width: 100%; height: 600px; border: 1px solid #cccccc" loading="lazy" frameborder="0"></iframe>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
